<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style type="text/css">
body{
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
</style>
<title>RENT CAR</title>
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
    	<a class="navbar-brand" th:href="@{/customerhome}">CRS</a>
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link" th:href="@{/rentcar}">Rent Car</a>
		      <a class="nav-item nav-link" th:href="@{/rentedcar}">Rented Car</a>
		      <a class="nav-item nav-link" th:href="@{/showprofile}">Show Profile</a>
		      <a class="nav-item nav-link" th:href="@{/customerlogout}">Logout</a>
    		</div>
  		</div>
	</nav>
	
	<h3>Car Rented Successfully</h3>
	<a th:href="@{/rentedcar}">View Rented car</a>
</body>
</html>